<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd"
	xml:lang="en">
<body>
	<wicket:panel>
		<td class="cell" style="width: 372px;" wicket:id="answerPanel">
			&nbsp;
		</td>
		<td class="cell answerValidityIndicator" style="width: 40px;">
		 <span class="answerValidityIndicator" wicket:id="answerValidityIndicatorLabel" style="margin: 0 7px;" />
		 </td>
	</wicket:panel>
</body>
</html>
